<div class="my_nav">
  <ul id="nav">
    <li ng-repeat='statu in status' id='status-{{$index}}'><a ng-click="showOrder($index)">{{statu}}</a>
    </li>
  </ul>
</div>
<div class="my_order_wrap">
  <div class="my_order_inner" id="cont">
    <div class="my_order">
      <div id="cont1" ng-repeat='order in orders'>
        <div class="order">
          <div class="order_head">
            <a page="1" class="oh_content">
              <p><span>状<i></i>态：</span><em class="co_red">待发货</em>
              </p>
              <p><span>总<i></i>价：</span><em class="co_red">¥{{order.amount |number:2 }}</em>
              </p>
            </a>
            <!-- <a href="javascript:;" class="oh_btn toPay" paytype="2">去支付</a> -->
          </div>
          <div class="order_item" ng-repeat='orderItem in order.goods'>
            <img class="image" ng-src="{{orderItem.url}}" width="50" height="50" page="1">
            <a href="{{orderItem.link}}" ordertype="22" page="1" class="oi_content">
              <p>{{orderItem.title}}</p>
              <p><span class="count">{{orderItem.quantity}} 件</span><span class="price"></span>￥{{orderItem.nowprice |number:2}}</p>
            </a>
          </div>
        </div>
      </div>

      <div class="wx_ending">已经没有更多订单了！</div>
    </div>
  </div>
</div>
